<div class="row">
  <div class="col-md-12" ng-controller="OptionsController as options">
    <form class="form-signin">
        <div class="header-login">
          <span class="glyphicon glyphicon-comment"></span> Qiscus Hardcoded
          <a class="nav-back" href="#/popup"><span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
        </div>
        <div class="form-group" ng-controller="ListRoomsController as listRooms">
            <label for="input-room-id">Room ID</label>
            <select id="input-room-id" ng-model="listRooms.roomIndex" ng-change="listRooms.updateRoomOption(options)" class="form-control">
              <option value="{{$index}}" ng-repeat="room in listRooms.rooms">{{room.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="input-topic-id">Topic ID</label>
            <input id="input-topic-id" type="text" ng-model="options.topicId" class="form-control" required="">
        </div>
      <button class="btn btn-block btn-login" ng-click="options.updateOption()">Update Options</button>
    </form>
  </div>
</div>
